body {
  font-family: 'Quicksand', sans-serif;
  margin: 15px;
  border: 3px solid black;
  padding: 10px;
}

#title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding: 15px;
}

#location {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

#print_button {
  text-align: right;
}

#total_alerts, #month_alerts {
  float: left;
  text-align: center;
  padding: 2%;
  font-weight: bold;
  font-size: 20px;
  margin: 2%;
  margin-top: 4%;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#total_help, #month_help {
  float: right;
  text-align: center;
  padding: 2%;
  font-weight: bold;
  margin: 2%;
  margin-top: 4%;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#total_alerts_number, #month_alert_number, #total_help_number, #month_help_number {
  font-size: 65px;
}

#mapTitle {
  margin-top: 25%;
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
}

#mapView {
  width: 50%;
  height: 600px;
  align-items: center;
  margin-left: 25%;
  margin-top: 3%;
}

#chart1 {
  width: 60%;
  height: 60%;
  margin-top: 10%;
  margin-left: 15%;
  text-align: center;
}

#chart2 {
  margin-top: 10%;
}
